@import url('https://fonts.googleapis.com/css2? family = Allura & display = swap');
@import url('https://fonts.googleapis.com/css2? family = Allura & family = Nada + Tú + Podrías + Hacer & display = intercambiar');
@import url('https://fonts.googleapis.com/css2? family = Allura & family = Nada + Tú + Podrías + Hacer & display = intercambiar');

.navbar-brand img {
    max-height: 70px;
}
.bg-light {
    background-color:#fff4c2!important;
}
.navbar-light .navbar-nav .nav-link {
    color:rgb(75, 75, 75);   
}

.form-inline{
    text-align:right;
}

/Parte de la redes sociales/
.redes {
    background-color: #ffffff;
    text-align: right;
    padding: 0.1em;
}

.redes .image{
    text-align: left;
    max-height: 30px;
    
}
.redes .circulo {
    background-color: #fff5f5;
    color: #ffe46c;
    display: inline-block;
    border-radius: 2em;
    border-color: #ffe46c;
    width: 2em;
    height: 2em;
    font-size: 1.2em;
    line-height: 2em;
    text-align: center;
    padding: 0;
    margin: 0.3em;
}


.contenido {
    padding: 1em;
}

.contenido h6 {
    color: lightgrey;
}
.contenido hr {
    width: 15%;
    margin: 1em 0;
    border-top: 2px solid #BBB;
}

/Parte de quienes somos/
.saludo {
    text-align: right;
    background-color: #fff4c2 ;
    font-family: "Meddon", "i";
    font-style: italic;
}

.saludo2{
    text-align: left;
    background-color: white ;
    font-family: 'Meddon', "i";
    font-style: italic;
}
.saludo hr{
    float: right;
}

/Galeria/
.galeria {
    background-color: #fff4c2;
    padding: 2em;
}

/Formulario de contacto/
.contacto {
    padding: 2em;
}
/boton de formulario de contacto/
.btn-success{
    background-color: #fff1b4;
    border-color: white;
    color: rgb(75, 75, 75);
}


.footer {
    padding: 1.5em;
    text-align: center;
}

.carousel-caption {
    text-shadow: 0px 2px #555;
}

.carousel-caption a {
    color: #6ccba9;
}

/Imagen de spiler/
.danger{

    text-align:center;
}

/Parrafo del la pagina de detalleshingeki/
.parrafo1{
    margin: 15mm;
    text-align: center;
    background: white;
    font-family: 'Meddon', cursive;
    font-style: italic;
    
  
}


.no-gutters{
    background-color: #fff4c2;
    font-family: 'Meddon';
    font-style: italic;
    font-size:18px;
  }

.tituloshingeki{
    font-family: 'Meddon';
    font-style: italic;
}